#header {
  letter-spacing: -2px;
  font-weight: 550;
  padding: 25px;
  margin-top: 0px;
  background-color: #16171D;
}

.ResortContainer {
  display: flex;
  text-align: left;
  gap: 10px;
  justify-content: space-around;
}

@media (max-width:450px){
  .ResortContainer {
    flex-direction: column;
  }

  .ResortCard {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
  }
}

h2 {
  font-size: 18px;
  font-weight: 550
}